.no-margin {
  margin: 0;
}

body {
  font-family: "BBH Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
